html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.app-navbar {
  background: rgba(0, 0, 0, 0.8);
}
.app-navbar .text-dark {
  color: #b9c3ce !important;
}
.app-navbar .text-dark:hover {
  color: white !important;
}
.app-navbar .navbar-brand {
  color: white;
}
.app-navbar .navbar-brand:hover {
  color: #888188 !important;
}
.app-navbar .dropdown-toggle {
  border-color: transparent !important;
  color: white;
}

.contact-firstcol {
  background-color: #1b3896;
  color: white;
  text-align: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.contact-firstcol h4 {
  line-height: 40px;
  font-weight: 400;
  margin-top: 20px;
}
.contact-firstcol img {
  max-width: 100px;
}

.formcontact label {
  font-weight: 700;
}
.formcontact .btn-primary {
  background-color: #1b3896 !important;
  border-color: #1b3896;
}